.vs/
bin/
obj/
wwwroot/images/
wwwroot/documents/
wwwroot/temp/
wwwroot/imports/
wwwroot/translations/
config/userConfig.json
Properties/launchSettings.json
data/
CarCareTracker.csproj.user
Properties/launchSettings.json
